.container {
	box-sizing: border-box;
	background-image: url("./images/sky-series-erick.jpg");
	background-size: cover;
	background-position: center;
	padding: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	/* width: 100vw; */
	min-height: 100%;
}

.container__image{
	width: 100%;
	/* height: 800px; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* position: relative; */
}
.container__image img{
	width: 200px;
}
/* .container__image:before{
	content: '$';
	background-color: green;
	width: 100px;
	height: 50px;
	position: absolute;
	top: 200px; left: 290px;
} */

.container__content {
	margin-top: 15px;
}

.container__title {
	font-size: 32px;
}

.cursive {
	font-family: 'Pacifico', cursive;
}